/* Thanks to Easing Wizard :) */
:root {
  --overshoot: linear(0, 0.52 7%, 0.909 14.4%, 1.057 18.3%, 1.176 22.4%, 1.265 26.7%, 1.326 31.2%, 1.352 34.5%, 1.364 38%, 1.364 41.7%, 1.351 45.7%, 1.298 53.5%, 1.125 71.5%, 1.057 80.2%, 1.012 89.7%, 1);
  /* --overshoot: linear(0, -0.01 4.8%, -0.044 9.4%, -0.226 23.1%, -0.271 27.7%, -0.28 30.1%, -0.276 32.4%, -0.227 36.6%, -0.108 40.8%, 0.083 44.7%, 0.76 53%, 1.006 56.9%, 1.175 61.2%, 1.229 63.5%, 1.264 65.9%, 1.28 69.3%, 1.265 73.1%, 1.224 77.1%, 1.044 90.6%, 1.01 95.2%, 1); */
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.card h2 {
  text-align: center;
}

.cards-wrapper a {
  text-decoration: none;
}

.card {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 0;
  padding: 0 5px;
  transition: transform 0.5s;
  transition-timing-function: var(--overshoot);
  color: var(--walnut-brown);
}

.card:hover {
  transform: translate(7px, 0);
}

.card .skills {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card .skills .tag {
  border: 1px solid black;
  border-radius: 10%;
  padding: 2px;
  margin: 2px;
}


@media (min-width: 1074px) {
  .cards-wrapper > * {
    width: 33%;
  }
}