.home {
  display: flex;
  justify-content: center;
}


@media (min-width: 1075px) {
  .home { 
    flex-direction: row;
  }
  
  .home-photo {
    width: 33vw;
  }
  
  .bio {
    align-content: center;
    margin-top: 0
  }
  .bio > *:first-child {
    margin-top: 0;
  }
}

@media (max-width: 1074px) {
  .home {
    flex-direction: column-reverse;
  }

  #peach {
    display: none;
  }
}

.home-photo {
  aspect-ratio: 0.75;
  object-fit: cover;
}

#peach {
  background-image: url('/public/marmalade.png') !important;
}

.calendar-link {
  text-align: center;
  transition: color 0.2s;
  transition: outline-color 0.2s;
  outline: var(--almond) solid 0px;
  transition: transform 0.2s;
  transition-timing-function: var(--overshoot);
  padding: 0.25rem 0;
  outline: var(--black) dashed 1px;
}

.calendar-link:hover {
  outline: var(--black) solid 2px;
  color: var(--black);
  transform: translate(0, -2px);
}

.calendar-link a {
  color: var(--gunmetal);
}