.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #eae0d5;
  padding: 0.5rem;
}

@keyframes openSidebar {
  0% { 
    width: 0; 
    height: 0;
  }
  100% { 
    width: 80%; 
    height: 100%;
  }
}

@keyframes closeSidebar {
  0% { 
    width: 80%;
    height: 100%;
   }
  100% { 
    width: 0;
    height: 0;
   }
}

@media (min-width: 1075px) {
  .sidebar {
    text-align: left;
    overflow: clip;
  }

  .sidebar-open {
    animation: openSidebar 0.5s ease-out forwards;
  }
  
  .sidebar-closed {
    animation: closeSidebar 0.5s ease-out forwards;
    padding: 0;
  }

  .sidebar-wrapper {
    display: grid;
    grid-template-columns: 0rem;
    transition: grid-template-columns 0.5s ease-out;
  }
  
  .sidebar-inner {
    overflow: clip;
  }
  
  .sidebar-wrapper.is-open {
    grid-template-columns: 15rem;
  }
}

@media (max-width: 1074px) {
  .sidebar {
    align-items: center;
    text-align: center;
  }

  .sidebarButton {
    display: none;
  }
}

.sidebarButton {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #c6ac8f;
  transition: transform 0.2s;
}

.sidebarButton:hover {
  transform: translate(1px, 1px);
}

.sidebarSection {
  margin-top: 3vh;
}

.sidebarSection .sidebar-link-div {
  transition: color 0.2s;
  transition: outline-color 0.2s;
  outline: #eae0d5 solid 0px;
  transition: transform 0.2s;
}

.sidebarSection .sidebar-link-div:hover {
  color: #0a0908;
  outline: #0a0908 solid 1px;
  transform: translate(2px);
}