.sidebar-open {
  display: flex;
  flex-direction: column;
  background-color: eae0d5;
  text-align: left;
  padding: 0.5rem;
}

@media (min-width: 1075px) {

}

@media (max-width: 1074px) {
  .sidebar-open {
    align-items: center;
    text-align: center;
  }
}

.sidebarButton {
  position: fixed;
  background-color: #c6ac8f;
}

.sidebarButton:hover {

}

.sidebarSection {
  margin-top: 3vh;
}