.App {
  background-color: #eae0d5;
  min-height: 100vh;
  color: #5e503f;
  display: flex;
  justify-content: flex-start;

  --black: #0a0908;
  --gunmetal: #22333b;
  --almond: #eae0d5;
  --khaki: #c6ac8f;
  --walnut-brown: #5e503f;
}

.App * {
  box-sizing: border-box;
}

.App-link {
  color: var(--gunmetal);
}

.bio {
  text-align: justify;
  font-size: larger;
  margin:2rem;
}

@media (min-width: 1075px) {
  .App { 
    flex-direction: row;
  }
}

@media (max-width: 1074px) {
  .App {
    flex-direction: column-reverse;
  }

  .bio {
    text-align: left;
  }
}

