.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  text-align: left;
}

.sidebarButton {
  position: absolute;
}

.sidebarSection {
  margin-top: 3vh;
}

.bio {
  font-size: 40px;
  text-align: justify;
  font-size: larger;
  margin-top: 30vh;
  margin-left: 1vw;
  margin-right: 2vw;
}

/* 
div {
  border: 1px solid green;
} */